.email-filter {
  max-width: 400px;
}
.email-filter i{
font-size: 1.1em;
}
.email-filter i:last-child{
color: #a7a5a5;
font-size: 20px;
}
.email-filter i:last-child:hover{
color: #6F9B97;
}

.email-filter-container {
  border: 1px solid rgb(105, 105, 105);
  border-radius: 2px;
  background-color: #fff;
}

.email-filter-container .email-input {
  height: 27px;
  border: none;
}

.email-search {
  font-size: 20px;
  padding: 8px;
}

.email-search input {
  display: none;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
}

.checkbox-container {
  margin: 0;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(218, 218, 218);
  padding-bottom: 0;
}

.checkbox-container:hover input~.checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
  background-color: #b4dfdf;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked~.checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgb(68, 68, 68);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}